<div class="wrapper">
	<nav id="sidebar">
		<div class="sidebar-header">
			<a routerLink="/dashboard" 
				class="navbar-brand" 
				style="color: white;">
				<i class="fa fa-cube mr-2" 
					style="font-size: 40px; color: #45c203;">
				</i>
				Bizzy<b>Car</b>
			</a>
		</div>
		<ul class="list-unstyled components">
			<li>
				<a routerLink="/dashboard">
					<i class="fas fa-home mr-2"></i>Dashboard
				</a>
			</li>
			<li>
				<a routerLink="/customer">
					<i class="far fa-user sign mr-2"></i>Customer
				</a>
			</li>
		</ul>
	</nav>
	<!-- Page Content  -->
	<div id="content">
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<div class="container-fluid">
				<button type="button" 
					id="sidebarCollapse" 
					class="btn btn-info">
					<i class="fas fa-align-left"></i>
					<span>Toggle Sidebar</span>
				</button>
				<button class="btn btn-dark d-inline-block d-lg-none ml-auto" 
					type="button" 
					data-toggle="collapse"
					data-target="#navbarSupportedContent" 
					aria-controls="navbarSupportedContent" 
					aria-expanded="false"
					aria-label="Toggle navigation">
					<i class="fas fa-align-justify"></i>
				</button>
				<div class="collapse navbar-collapse" 
					id="navbarSupportedContent">
				</div>
				<div class="nav-item dropdown">
					<span href="#" 
						data-toggle="dropdown" 
						class="nav-item nav-link dropdown-toggle user-action">
						<i class="fas fa-user"></i>
						Khushbu <b class="caret"></b>
					</span>
					<div class="dropdown-menu">
						<a href="#" class="dropdown-item">
							<i class="fa fa-user-o"></i> Profile
						</a>
						<a href="#" class="dropdown-item">
							<i class="fa fa-calendar-o"></i> Calendar
						</a>
						<a href="#" class="dropdown-item">
							<i class="fa fa-sliders"></i> Settings
						</a>
						<div class="divider dropdown-divider"></div>
						<a href="#" class="dropdown-item">
							<i class="material-icons">&#xE8AC;</i> Logout
						</a>
					</div>
				</div>
			</div>
		</nav>
		<router-outlet></router-outlet>
	</div>
</div>